@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
}

aside {
  position: relative;
  height: 100vh;
  width: clamp(350px, 40vw, 500px);
  background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  padding-top: 10rem;
}

.heading-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.35);
  height: 10rem;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.heading-container > h1 {
  font-family: norse-bold, sans-serif;
  font-size: 6rem;
}

.heading-container > img {
  height: 8rem;
}

.photo-credit {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.photo-credit,
.photo-credit > a,
.photo-credit > a:visited {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

section {
  background-color: #f5f5f5;
  width: 80%;
}

.summary {
  margin: 4rem 2rem;
  max-width: 35rem;

  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
}

.container-fields > p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.container-fields {
  padding: 1rem 1rem 1rem 2rem;
  background-color: white;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.212);
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem 0;
}

label {
  color: rgb(20, 20, 20);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

input {
  padding: 0.3rem 0.5rem;
  width: 25ch;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(29, 98, 155);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.flex-container-fields {
  display: flex;
  flex-wrap: wrap;
  max-width: 40rem;
}

button {
  margin: 2rem 0 2rem 2rem;
  padding: 0.75rem 2rem;
  border: none;
  background-color: #596d48;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

button:active {
  background-color: hsl(92, 20%, 25%);
}

.existing-account {
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
}

.existing-account a,
.existing-account a:visited {
  text-decoration: none;
  font-weight: 500;
  color: #596d48;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  aside,
  section {
    width: 100%;
  }

  aside {
    height: 10rem;
    padding: 0;
  }

  .photo-credit {
    display: none;
  }

  .summary {
    margin: 2rem 2rem;
    font-size: 1rem;
  }
}
